//Primary Color
$strongCyan: hsl(172, 67%, 45%);

// Neutral Colors

$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan-1: hsl(186, 14%, 43%);
$darkGrayishCyan-2: hsl(184, 14%, 56%);
$lightGrayishCyan-1: hsl(185, 41%, 84%);
$lightGrayishCyan-2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
