@import "reset";
@import "variables";

body {
  font-family: "Space Mono", monospace;
  background: $lightGrayishCyan-1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  width: 100%;
  text-align: right;
  background-color: $lightGrayishCyan-2;
  border: none;
  color: $veryDarkCyan;
  font-weight: bold;
  border-radius: 10px;
  /* Chrome, Safari, Edge, Opera */
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  [type="number"] {
    -moz-appearance: textfield;
  }
  &:focus {
    outline-color: $strongCyan;
  }
  &:invalid {
    outline-color: red;
  }
}

input[type="radio"] {
  display: none;
}

button {
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

.container {
  padding: 2em;
  border-radius: 20px;
  background: $white;
  display: flex;
  flex-direction: column;
}
.logo {
  &__img {
    display: flex;
    padding: 2rem 0;
    margin: 0 auto;
  }
}

.bill,
.tip,
.number-of-people {
  color: $veryDarkCyan;
  font-weight: 600;
}

.bill {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  &__title {
    margin-bottom: 0.5rem;
  }
  &__input {
    background: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-color: $lightGrayishCyan-2;
    background-size: 15px;
    background-position: 1.2rem;
    padding-right: 1rem;
  }
}

.tip {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  &__title {
    margin: 1rem 0;
  }
  &__label-radio {
    display: flex;
    justify-content: center;
    background: $veryDarkCyan;
    color: $white;
    font-size: 24px;
    padding: 0.3rem 0;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
  }
  &__input-radio[type="radio"]:checked + label {
    background-color: $strongCyan;
    color: $veryDarkCyan;
    font-weight: bold;
  }
  &__custom {
    background: $lightGrayishCyan-2;
    border: none;
    padding-right: 1rem;
    &::placeholder {
      color: $darkGrayishCyan-1;
      font-weight: bold;
    }
  }
}

.number-of-people {
  margin: 2rem 0;
  &__title {
    margin-bottom: 0.5rem;
    display: flex;
  }
  &__input {
    background: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-color: $lightGrayishCyan-2;
    background-size: 15px;
    background-position: 1.2rem;
    padding-right: 1rem;
  }
  &__msg-error {
    color: red;
    margin-left: auto;
    &--active {
      display: block;
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  background: $veryDarkCyan;
  color: $white;
  padding: 1rem;
  border-radius: 10px;
  height: 100%;
  &__text {
    display: flex;
    position: relative;
    margin: 1rem 0;
    overflow: hidden;
    &::before {
      content: "/ person";
      display: block;
      position: absolute;
      bottom: 0;
      font-size: 0.7rem;
      color: $darkGrayishCyan-2;
    }
  }
  &__per-person {
    display: block;
    color: $darkGrayishCyan-2;
    font-size: 0.8rem;
  }
  &__tip-amount,
  &__total-price {
    margin-left: auto;
    font-size: 1.5rem;
    color: $strongCyan;
    font-weight: bold;
  }
  &__reset-btn {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    background: $strongCyan;
    border-radius: 3px;
    font-weight: 600;
    color: $veryDarkCyan;
    padding: 0.4rem 0;
    &--disable {
      cursor: not-allowed;
      pointer-events: none;
      background: hsl(183, 100%, 18%);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0.5rem;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (min-width: 568px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 731px) {
  .container {
    width: 55%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .app {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-top: 3rem;
    &__img {
      height: 9em;
    }
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5rem auto 0 auto;
    &__input {
      width: 50%;
    }
    &__output {
      width: 45%;
    }
  }
  .tip {
    &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }
  .result {
    padding: 2rem;
    &__reset-btn {
      margin-top: auto;
    }
  }
}

@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }
  .logo {
    margin-bottom: 2rem;
    &__img {
      height: 8em;
    }
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    margin: 0rem auto 0 auto;
    &__input {
      width: 50%;
      margin-right: 3rem;
    }
    &__output {
      width: 50%;
    }
  }
  .result {
    padding: 2rem;
    &__tip-amount,
    &__total-price {
      font-size: 2rem;
    }
    &__reset-btn {
      transition: background .3s;
      &:hover{
        background-color: hsl(172, 67%, 80%);
      }
    }
  }
}

@media (min-width: 1400px) {
  .container {
    width: 60%;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 45%;
  }
}
